{% extends "base.html" %}
{% block title %} Timeline {% endblock %}
{% block content %}
{% if posts %}
        {% for post in posts %}
            <b>{{post.name}} </b>
            {% if post.groupId_id %}
                Group : <b>{{post.groupName}} </b>
            {% endif %}   
            {{post.time}}
            <br />
            <b>{{post.content}}</b>
            <br />
            <b>Likes </b> {{post.likes}}
            <b> Comments </b> {{post.comments}}
            <b> Shares </b> {{post.shares}}
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        No posts to show!
    {% endif %}
{% endblock %}
