{% extends "base.html" %}
{% block title %} Timeline {% endblock %}
{% block content %}
{% if posts %}
        {% for post in posts %}
            <b>{{post.name}} </b>
            {% if post.groupId_id %}
                Group : <b>{{post.groupName}} </b>
            {% endif %}   
            {{post.time}}
            <br />
            <b>{{post.content}}</b>
            <br />
            <a href="/like/{{post.postId}}" class="link">
                Like
            </a> 
            <a href="/getlike/{{post.postId}}" class="link">
                ({{post.likes}})
            </a>
            <a href="/comment/{{post.postId}}" class="link">
                Comment
            </a>
            <a href="/getcomment/{{post.postId}}" class="link">
                ({{post.comments}})
            </a>
            <a href="/share/{{post.postId}}" class="link">
                Share
            </a> 
                ({{post.shares}})
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        No posts to show!
    {% endif %}
{% endblock %}
