{% extends "base.html" %}
{% block css %}
    #info {
        text-align:right;
        position: fixed;
        right: 10%;
    }
    #posts {
        width: 600px;
    }

{% endblock %}
{% block title %} Timeline {% endblock %}
{% load staticfiles %}
{% block content %}
<div id="info">
    {% if isFriend or friendRequest %}
        <a class="link" href="D/friend">Remove Friend</a>
        <br/>
    {% elif not isSelf %}
        <a class="link" href="A/friend">Add Friend</a>
        <br />
        {% if isFollowing %}
            <a class="link" href="follow">Unfollow</a>
            <br/>
        {% else %}
            <a class="link" href="follow">Follow</a>
            <br />
        {% endif %}

    {% endif %}

    User Info <br/>
    Name : <b>{{user.name}}</b> <br /> 
    DOB : <b>{{user.dob}}</b> <br />
        {% if user.profilePic == '/static/userModule/default.png'%}
            <img src="{% static "userModule/default.png"%}" height=80px; width=80px;/> <br />
        {% else %}
        <img src="{{MEDIA_URL}}{{user.profilePic}}" height=80px; width=80px;/> <br />
        {% endif %}
    Sex : <b>{{user.sex}} </b><br />
    {% if user.school %}
        School : <b>{{user.school}} </b><br />
    {% endif %}
    {% if user.college %}
        College : <b>{{user.college}} </b><br />
    {% endif %}
    {% if user.companyName %}
        Company : <b>{{user.companyName}} </b><br />
    {% endif %}
    {% if user.status %}
    Status : 
        {% if user.status == 'S'%}
            <b>Single</b><br />
        {% else %}
            <b>Married</b><br />
        {% endif %}
    {% endif %}
    {% if user.profession %}
        Profession : <b>{{user.profession}} </b><br />
    {% endif %}
    {% if user.website %}
        Website : <b>{{user.website}} </b><br />
    {% endif %}
</div>
<div id="posts">
    Posts count : {{len}}<br />
    {% if posts %}
        {% for post in posts %}
            {% if post.groupId_id %}
                Group : <b>{{post.groupName}} </b>
            {% endif %}   
            {{post.time}}
            <br />
            <b>{{post.content}}</b>
            <br />
            <a href="/like/{{post.postId}}" class="link">
                Like
            </a> 
            <a href="/getlike/{{post.postId}}" class="link">
                ({{post.likes}})
            </a>
            <a href="/comment/{{post.postId}}" class="link">
                Comment
            </a>
            <a href="/getcomment/{{post.postId}}" class="link">
                ({{post.comments}})
            </a>
            <a href="/share/{{post.postId}}" class="link">
                Share
            </a> 
                ({{post.shares}})
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        No posts to show!
    {% endif %}
</div>
{% endblock %}
