{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit"/>
    </form>
    {% if searchResult %}
        {% for result in searchResult %}
            {% if result.userId %}
                USER : <a class="link" href={{result.link}}>{{result.name}}</a>
            {% elif result.groupId %}
                GROUP : <a class="link" href={{result.link}}>{{result.groupName}}</a>
            {% endif %}
            <br />
        {% endfor %}
    {% endif %} 
{% endblock %}
