<html>
<body>
    {% if isFriend %}
        <a href="friend.html">Remove Friend</a>
        <br/>
    {% elif not isSelf %}
        <a href="friend.html">Add Friend</a>
        <br />
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            {{post.posterId_id}}
            {% if post.groupId_id %}
                posted in {{post.groupId_id}}
            {% endif %}   
            {{post.time}}
            <br />
            {{post.content}}
            <br/>
        {% endfor %}
    {% else %}
        No posts to show!
    {% endif %}
</body>
</html>
