{% extends "base.html" %}
{% block title %} Timeline {% endblock %}
{% block content %}
    {% if isFriend %}
        <a href="friend.html">Remove Friend</a>
        <br/>
    {% elif not isSelf %}
        <a href="friend.html">Add Friend</a>
        <br />
    {% endif %}
    Total posts {{len}}<br />
    {% if posts %}
        {% for post in posts %}
            {% if post.groupId_id %}
                Group : <b>{{post.groupName}} </b>
            {% endif %}   
            {{post.time}}
            <br />
            <b>{{post.content}}</b>
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        No posts to show!
    {% endif %}
{% endblock %}
