{% extends "base.html" %}
{% block title %} {{groupname}} {% endblock %}
{% block content %}
<h2>Group Description :</h2>
{{description}}
<br />
<br/>
<h2>Posts:</h2>
{% if posts %}
    {% for post in posts %}
        {{post.time}}
        <br />
        <b>{{post.name}}: </b>{{post.content}}
        <br />
        <a href="/like/{{post.postId}}/">
		Likes
	</a>
	<a href="/getlike/{{post.postId}}/">
		({{post.likes}})
	</a>
        <a href="/comment/{{post.postId}}/">
		Comments
	</a>
	<a href="/getcomment/{{post.postId}}/">
		({{post.comments}})
	</a>
        <a href="/share/{{post.postId}}/">	
        	Shares
	</a>
	<a href="/getshare/{{post.postId}}/">
		{{post.shares}}
	</a>
        <br/>
        <br/>
    {% endfor %}
{% else %}
    No Group posts to show!
{% endif %}
    <br />
    <h2>Group Members :</h2>
    <br />
    {% for member in members %}
        <a href = "/timeline/{{member.userId_id}}" >{{member.name}}</a>
        <br />
    {% endfor %}
{% if samegroup %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Leave Group" name="LeaveGroup" />
    </form>
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Join Group" name="JoinGroup" />
    </form>
{% endif %}
{% if admin %}
    <a  href="/group/{{admin}}/settings">Group Settings</a>
{% endif %}
{% endblock %}
